@charset "UTF-8";

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/

.wrapper {
  min-height: 100vh;
}

*:focus {
  outline: 0;
}

.page {
  position: relative;
}

.page .pac-man {
  position: fixed;
  top: -160px;
  left: -120px;
  width: 100px;
  height: 150px;
  z-index: 3;
  -webkit-transition: top 0.6s ease 0s;
  -o-transition: top 0.6s ease 0s;
  transition: top 0.6s ease 0s;
}

.page .pac-man._unhide {
  left: 0px;
  top: 0px;
}

.page .pac-man img {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: pacManMove 2s ease-in-out 0.3s infinite alternate;
          animation: pacManMove 2s ease-in-out 0.3s infinite alternate;
}

.page .ghost {
  position: fixed;
  top: -160px;
  left: -120px;
  -webkit-transition: top 0.6s ease 0s;
  -o-transition: top 0.6s ease 0s;
  transition: top 0.6s ease 0s;
  z-index: 3;
  width: 120px;
  height: 120px;
}

.page .ghost._unhide {
  left: -120px;
  top: 0px;
}

.page .ghost img {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: pacManMove 2s ease-in-out 0.6s infinite alternate;
          animation: pacManMove 2s ease-in-out 0.6s infinite alternate;
}

.page__block {
  min-height: 100vh;
}

.page__block_first {
  background: url("../img/pac.jpeg");
  padding: 150px 0px;
}

.page__block_first._unhide {
  background: url("../img/bg-04.jpeg") 50%/cover no-repeat;
}

.page__block_second {
  padding: 150px 0px;
  background: url("../img/pac.jpeg");
}

.page__block_second._unhide {
  background: url("../img/bg-01.jpg") 50%/cover no-repeat;
}

.page__block_third {
  padding: 150px 0px;
  background: url("../img/pac.jpeg");
}

.page__block_third._unhide {
  background: url("../img/bg-02.jpg") 50%/cover no-repeat;
}

.page__block_forth {
  padding: 150px 0px;
  background: url("../img/pac.jpeg");
}

.page__block_forth._unhide {
  background: url("../img/bg-04.jpeg") 50%/cover no-repeat;
}

.first-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._unhide .first-body__button-hidden {
  bottom: 20px;
  opacity: 1;
}

.first-body__text {
  color: #fff;
  font-size: 1.125rem;
  line-height: 133%;
  padding: 20px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: inset 5px 5px 5px 0px black;
          box-shadow: inset 5px 5px 5px 0px black;
  margin: 0px 0px 30px 0px;
  overflow: auto;
  max-height: 30%;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: relative;
  background-color: #333333;
}

.first-body__text._unhide {
  max-height: 100%;
}

.first-body__button {
  color: #fff;
  font-size: 1.125rem;
  padding: 20px 40px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
  -webkit-box-shadow: inset 5px 5px 5px 0px black;
          box-shadow: inset 5px 5px 5px 0px black;
  text-shadow: 5px 5px 5px black;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #333333;
}

.first-body__button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 0px black;
          box-shadow: inset 0px 0px 0px 0px black;
  text-shadow: 0px 0px 0px black;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.first-body__button-hidden {
  position: absolute;
  bottom: -120px;
  right: 20px;
  font-size: 1rem;
  border: 3px solid whitesmoke;
  text-align: center;
  border-radius: 50%;
  text-transform: uppercase;
  overflow: hidden;
  width: 80px;
  height: 80px;
  background-color: #333333;
  -webkit-transition: all 0.8s ease 0.3s;
  -o-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
  -webkit-box-shadow: 5px 5px 15px 0px black;
          box-shadow: 5px 5px 15px 0px black;
  -webkit-animation: hiddenButtonMove 2s ease-in-out 0.3s infinite alternate;
          animation: hiddenButtonMove 2s ease-in-out 0.3s infinite alternate;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  opacity: 0;
}

.first-body__button-hidden:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.first-body__button-hidden:active {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

@-webkit-keyframes hiddenButtonMove {
  to {
    -webkit-transform: translate(0, -80px) scale(1.1) rotate(10deg);
            transform: translate(0, -80px) scale(1.1) rotate(10deg);
  }
}

@keyframes hiddenButtonMove {
  to {
    -webkit-transform: translate(0, -80px) scale(1.1) rotate(10deg);
            transform: translate(0, -80px) scale(1.1) rotate(10deg);
  }
}

@-webkit-keyframes pacManMove {
  to {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}

@keyframes pacManMove {
  to {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}

@-webkit-keyframes likeBlink {
  0% {
    color: #fa448c;
    text-shadow: 5px 5px 10px #fec859;
  }

  10% {
    color: #fec859;
    text-shadow: 5px 5px 10px #fa448c;
  }

  20% {
    color: #43b5a0;
    text-shadow: 5px 5px 10px #491d88;
  }

  30% {
    color: #491d88;
    text-shadow: 5px 5px 10px #43b5a0;
  }

  40% {
    color: #331a38;
    text-shadow: 5px 5px 10px whitesmoke;
  }

  50% {
    color: whitesmoke;
    text-shadow: 5px 5px 10px black;
  }

  60% {
    color: #fa448c;
    text-shadow: 5px 5px 10px #fec859;
  }

  70% {
    color: #fec859;
    text-shadow: 5px 5px 10px #fa448c;
  }

  80% {
    color: #43b5a0;
    text-shadow: 5px 5px 10px #491d88;
  }

  90% {
    color: #491d88;
    text-shadow: 5px 5px 10px #43b5a0;
  }

  100% {
    color: whitesmoke;
    text-shadow: 5px 5px 10px black;
  }
}

@keyframes likeBlink {
  0% {
    color: #fa448c;
    text-shadow: 5px 5px 10px #fec859;
  }

  10% {
    color: #fec859;
    text-shadow: 5px 5px 10px #fa448c;
  }

  20% {
    color: #43b5a0;
    text-shadow: 5px 5px 10px #491d88;
  }

  30% {
    color: #491d88;
    text-shadow: 5px 5px 10px #43b5a0;
  }

  40% {
    color: #331a38;
    text-shadow: 5px 5px 10px whitesmoke;
  }

  50% {
    color: whitesmoke;
    text-shadow: 5px 5px 10px black;
  }

  60% {
    color: #fa448c;
    text-shadow: 5px 5px 10px #fec859;
  }

  70% {
    color: #fec859;
    text-shadow: 5px 5px 10px #fa448c;
  }

  80% {
    color: #43b5a0;
    text-shadow: 5px 5px 10px #491d88;
  }

  90% {
    color: #491d88;
    text-shadow: 5px 5px 10px #43b5a0;
  }

  100% {
    color: whitesmoke;
    text-shadow: 5px 5px 10px black;
  }
}

.block__container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__scroll {
  position: fixed;
  top: -20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: 2.25rem;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  z-index: 1;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  -webkit-animation: likeBlink 2s ease-in-out 0.3s infinite alternate;
          animation: likeBlink 2s ease-in-out 0.3s infinite alternate;
}

.block__scroll._unhide {
  top: 10%;
}

.block__like {
  position: fixed;
  top: 110%;
  right: -150%;
  font-size: 2.25rem;
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  z-index: 3;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  -webkit-animation: likeBlink 2s ease-in-out 0.3s infinite alternate;
          animation: likeBlink 2s ease-in-out 0.3s infinite alternate;
}

.block__like._unhide {
  right: -150%;
  top: 90%;
}

@media (max-width: 999.98px) {
  .first-body__text {
    font-size: 1rem;
    line-height: 100%;
  }

  .first-body__button {
    max-width: 100%;
  }

  .block__scroll {
    font-size: 1.875rem;
  }

  .block__like._unhide {
    top: 85%;
    background: rgba(0, 0, 0, 0.738);
    padding: 5px 10px;
    border-radius: 10px;
  }
}

@media (max-width: 767.98px) {
  .first-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}